@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background: #000000;
  color: #dcf6cc;
}

.glass-panel {
  background: #1a1a1a;
  border: 1px solid #333333;
  border-radius: 0.75rem;
}

.outline-card {
  background: transparent;
  border: 1px solid #333333;
  border-radius: 0.5rem;
}
